@page
@model BookletModel

@{
    /* Tab Name */
    ViewData["Title"] = "Colonial Coatings";
}

<style>

</style>

<!-- From GB website -->
<div class="topnav">
    <nav>
        <ul>
            <li><a href="/Index">Home</a></li>
            <li><a href="/Booklet">Booklets</a></li>
            <li><a href="https://colonialcoatings.com/certifications/">Server</a></li>
            <li><a href="/Profile">User Profile</a></li>
        </ul>
    </nav>
</div>

<head>
    <div class="text-center">
        <div src="/Users/habibulhuq/Desktop/SeniorDesignWebsite/RazorPagesMovie/cc_final_logo1.png"></div>
        <img src="Photos/cc_final_logo1.png">
        <h1 class="display-4"> Booklets </h1>
        <p>Here you will find all the booklets and depending on your role you can Open, Edit, Remove, and Add booklets.
        </p>
    </div>
</head>



<!-- Everything to the right of nav*/ -->
<main>
     
    <iframe
        src="https://docs.google.com/presentation/d/1zpAhHTj48-UVdb70xQinxxzx_9KEPDyv/edit?usp=sharing&ouid=103857784296568403746&rtpof=true&sd=true"
        width="1200" height="600"></iframe>
    <!--<iframe src="/Users/habibulhuq/Desktop/SeniorDesignWebsite/RazorPagesMovie/PPTxs" width="1200"
        height="1200"></iframe> -->


    <br><br>
    <p>Here are all the Booklets: </p>
    <div>@foreach (string str in Model.expBooklets)
        {
            <li><a
                    href="https://docs.google.com/presentation/d/1kQdyt9Bc3eCrSJQb25sY9ALxNh83jaxhU2RgrnXGfcg/edit?usp=sharing"></a>@str
                @DateTime.Now
            </li>
        }
    </div>

</main>


<footer style="padding: 10px;">
    NADCAP Accredited | FAA ITAR STATION 0LUR576L | NMSDC Certified <br><br>
    All material on this Web site is owned by Colonial Coatings, INC. <br>
    Any reproduction or use of its content is prohibited without permission of its owner. <br>
    Colonial Coatings, INC © 2023 | Site Design By Tyrrell Web & Design, LLC
</footer>