@page
@model IndexModel

@{
    /* Tab Name */
    ViewData["Title"] = "Colonial Coatings";
}

<style>
</style>

<!-- From GB website -->
<div class="topnav">
    <nav>
        <ul>
            <li><a href="/Index">Home</a></li>
            <li><a href="/Booklet">Booklets</a></li>
            <li><a href="https://colonialcoatings.com/certifications/">Server</a></li>
            <li><a href="/Profile">User Profile</a></li>
        </ul>
    </nav>
</div>

<head>
    <div class="text-center">
                <h1 class="display-4">Hi *UserName* </h1>

        <p>Here you will we everything about your employment information </p>
    </div>
</head>